{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <form method="post" class="row g-3" style="margin-left: 5%;">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <br>
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <div class="col-auto">
            <label for="inputEmail" class="visually-hidden">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                   autocomplete="email" placeholder="Email@example.com" required autofocus>
        </div>
        <div class="col-auto">
            <label for="inputPassword" class="visually-hidden">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                   autocomplete="current-password" placeholder="Password" required>
        </div>
        <div class="col-auto">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="btn btn-primary mb-3">Sign in</button>
        </div>

        {#        <button class="btn btn-lg btn-primary" type="submit">Sign in</button>#}
    </form>
    <br>
    <div style="margin-left: 5%;">
        <h1 class="h3 mb-3 font-weight-normal">Don't have an account ?</h1>
        <a class="btn btn-primary mb-3"href="{{ path('app_register') }}">Register</a>
    </div>
{% endblock %}
