{% extends 'base.html.twig' %}

{% block title %}Hello ArtistController!{% endblock %}

{% block body %}




    {% for profil in artist %}
        <br>
        <div class="d-flex position-relative border rounded-pill" style="background-color: white">
            <img src="{{ profil.0.photo }}" alt="" style="width: 200px; height: auto">
            <div class="row" style="width: 100%">
                <h4 class="mt-0 col-3" style="text-align: center">{{ profil.0.username }}</h4>
                <div class="col-8">
                    {% for infos in profil.1 %}
                        <span class="badge bg-secondary">{{ infos.title }}</span>
                        {#                        <div>{{ dump(infos) }}</div>#}
                    {% endfor %}
                </div>
                <div>
                    {% for infos in profil.2 %}
                        <img src="{{ infos.url }}" alt="..." class="rounded float-start" style="max-height: 100px; width: auto">
                        {#                        <div>{{ dump(infos) }}</div>#}
                    {% endfor %}
                </div>
                <a href="/presentation" class="stretched-link"></a>
            </div>
        </div>
        <br>
    {% endfor %}

{% endblock %}
