{% extends 'base.html.twig' %}

{% block title %}Hello CommandesController!{% endblock %}
{% block body %}
<style>
    .commande{
        flex-wrap: wrap;
    }
    img {
        width: 30vw;
        height: 30vh;
    }
    .artiste{
        align-self: flex-end;
        width: 30vw;
        height: 30vh;
    }
    .commandeInfo{
        width: 30vw;
    }
    .artiste img{
        width: 150px;
        height: 150px;
        background-color: white;
    }

    .tags{
        width: 100vw;
        height: 15vh;
    }
</style>
    <h1>Voici vos commandes</h1>
    {% for aCommande in getArtiste %}
        <div class="d-flex position-relative commande border border-dark">
            <img src="{{ aCommande.0.image }}" class="flex-shrink-0 me-3">
            <div class="commandeInfo">
                    {% if aCommande.0.titre == '' %}#}
                        <h1>Pas de titre</h1>
                    {% else %}
                        <h1>{{ aCommande.0.titre }}</h1>
                    {% endif %}
            </div>

            <div class="artiste">
                <p>{{ aCommande.1.username }}</p>
                <img class="rounded-circle" src="{{ aCommande.1.photo }}"/>
            </div>

            <div class="tags">
                {% for tCommande in aCommande %}
                    {% for iCommande in tCommande %}
                        <span class="badge bg-dark">{{ iCommande.title }}</span>
                    {% endfor %}
                {% endfor %}
            </div>
            <a href="#" class="stretched-link"></a>
        </div>
    {% endfor %}
</div>
{% endblock %}
